// =============================================================================
// SITE BRANDING
// =============================================================================

// .block-system-branding-block {
//   display: block;
//   margin: 0 auto;
//   transition: width .5s ease;
//   width: 220px;

//   @include breakpoint($bp-large-up) {
//     width: 242px;
//   }

//   // Logo.
//   .site-logo {
//     display: block;
//   }
// }
