// =============================================================================
// CONTAINER
// =============================================================================

@mixin container {
  @include clearfix;
  margin: 0 auto;
  max-width: $container--width;
  padding-left: $gutter;
  padding-right: $gutter;
}
