// =============================================================================
// FOOTER
// =============================================================================

.footer {
  p {
    color: #595c62;
    font-size: rem(16px);
    margin-bottom: 0;
  }
}
