// =============================================================================
// PAGE
// =============================================================================

html {
  background: $white;
  color: $text--dark;
  font-family: $base-font-family;
  margin: $gutter;

  // White border.
  &:before,
  &:after {
    content: "";
    background: $white;
    height: 15px;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 999;
  }

  // Top border.
  &:before {
    top: 0;
  }

  // Bottom border.
  &:after {
    bottom: 0;
  }
}

body {
  background: $white;

  // White border.
  &:before,
  &:after {
    content: "";
    background: $white;
    height: 15px;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 999;
  }

  // Top border.
  &:before {
    top: 0;
  }

  // Bottom border.
  &:after {
    bottom: 0;
  }

  // Navigation expanded.
  &.is-navigation-expanded {
    overflow: hidden;
    width: 100%;
  }
}

// Links.
a,
a:visited {
  border-bottom: 2px solid $orange;
  color: $text--dark;
  text-decoration: none;
  transition: border-bottom-color .3s ease, color .3s ease;

  // Remove bottom border.
  &.remove-underline {
    border-bottom: 0;

    // Hover and focus.
    &:hover,
    &:focus {
      color: $orange;
    }
  }

  // Hover and focus.
  &:hover,
  &:focus {
    border-bottom-color: #ccc;
    text-decoration: none;
  }
}

// Selection.
::selection {
  background-color: lighten($orange, 20%);
  color: $text--dark;
}
