// =============================================================================
// PAGE
// =============================================================================

html {
  background: $white;
  color: $text--dark;
  font-family: $base-font-family;
  margin: $gutter;

  // White border.
  &:before,
  &:after {
    content: "";
    background: $white;
    height: 15px;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 999;
  }

  // Top border.
  &:before {
    top: 0;
  }

  // Bottom border.
  &:after {
    bottom: 0;
  }
}

body {
  background: $white;

  // White border.
  &:before,
  &:after {
    content: "";
    background: $white;
    height: 15px;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 999;
  }

  // Top border.
  &:before {
    top: 0;
  }

  // Bottom border.
  &:after {
    bottom: 0;
  }

  // Navigation expanded.
  &.is-navigation-expanded {
    overflow: hidden;
    width: 100%;
  }
}

// Links.
a,
a:visited {
  color: $text--dark;
  display: inline-block;
  position: relative;
  text-decoration: none;
  transition: color .3s ease;

  // Underline.
  &:after {
    background: $orange;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  // Hover and focus.
  &:hover,
  &:focus {
    color: $orange;
    text-decoration: none;
  }

  // Remove bottom border.
  &.remove-underline {
    &:after {
      display: none;
    }
  }

  // Main content anchor.
  &#main-content {
    display: inline;
  }
}

// Selection.
::selection {
  background-color: lighten($orange, 20%);
  color: $text--dark;
}
