// =============================================================================
// COMMENTS
// =============================================================================

.comment__section {
  border-top: 1px solid #1e1c1c;
  margin-top: 80px;
  padding-top: 20px;
  position: relative;

  // Reset all headers.
  header {
    max-width: none !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.comment__section-header {
  position: relative;
}

.comment__count {
  background-color: $brand--sage;
  color: $white;
  display: block;
  float: left;
  font-size: rem(14px);
  line-height: rem(25px);
  margin-right: 10px;
  margin-top: 4px;
  padding-left: 15px;
  padding-right: 15px;

  // Arrow.
  &:after {
    @include arrow(right, 10px, $brand--sage);
    content: "";
    margin-left: -5px;
    margin-top: -10px;
    position: absolute;
  }
}

.comment {
  @include clearfix;
  margin-bottom: 40px;
  width: 100%;

  // Even comments.
  &.even {
    background-color: #f8f8f8;
    padding: 20px;

    @include breakpoint($bp-large) {
      padding-bottom: 40px;
      padding-top: 40px;
    }
  }

  // Links.
  .links {
    display: block !important;
    font-size: rem(12px);
    line-height: rem(14px);
    margin: 0;
    max-width: none;
    padding: 0;
    position: relative;

    li {
      display: block;
      float: left;
      list-style: none;
      margin: 0;
      padding: 0;

      + li {
        margin-left: 10px;
      }
    }

    // Links.
    a,
    a:visited {
      text-transform: capitalize;
    }
  }

  // "New" indicator.
  .new {
    background-color: $brand--sage;
    color: $white;
    display: inline-block;
    font-size: rem(14px);
    font-weight: 400;
    line-height: rem(25px);
    margin-left: 5px;
    margin-top: 1px;
    padding-left: 8px;
    padding-right: 8px;
    position: absolute;
  }
}

.comment__header {
  margin-bottom: 10px;
}

.comment__section-title {
  margin-bottom: 0;

  @include breakpoint($bp-large) {
    margin-bottom: 40px;
  }
}

.comment__author-photo {
  display: none;

  @include breakpoint($bp-large) {
    display: block;
    position: absolute;
    width: 65px;
  }

  img {
    border-radius: 50%;
    display: block;
  }
}

.comment__content {
  @include breakpoint($bp-large) {
    margin-left: 95px;
  }
}

.comment__author {
  font-size: rem(18px);
  font-weight: 700;
  line-height: rem(18px);
  margin-bottom: 0;

  @include breakpoint($bp-large) {
    float: left;
    font-size: rem(21px);
    line-height: rem(32px);
    width: span(8);
  }

  // Links.
  a,
  a:visited {
    color: #4a4a4a;
    text-decoration: none;

    // Hover and focus.
    &:hover,
    &:focus {
      color: #4a4a4a;
      text-decoration: none;
    }
  }
}

.user-picture__placeholder {
  background-image: url("../images/user-circle-o.png");
  background-size: 100%;
  background-position: 50% 50%;
  border-radius: 50%;
  display: block;
  height: 65px;
  position: absolute;
  width: 65px;
}

.comment__permalink {
  background-image: url("../images/icon-link.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  height: 10px;
  line-height: rem(10px);
  margin-right: 5px;
  text-align: left;
  text-indent: -9999em;
  width: 10px;

  // Link.
  a,
  a:visited {
    display: block;
  }
}

.comment__header-meta {
  color: #999;
  font-size: rem(14px);
  line-height: rem(32px);

  @include breakpoint($bp-large) {
    float: right;
    text-align: right;
    width: span(4);
  }
}

.field--name-comment-body {
  p {
    font-size: rem(16px);
    line-height: rem(21px);
  }
}

// Indented.
.comment__section .indented {
  margin-left: 40px;
}

// Join the conversation.
.comment__join {

  // No comments.
  &.no-comments {
    margin-top: 40px;
  }

  p {
    font-size: rem(16px);
    line-height: rem(21px);
  }
}

.comment__user-guidelines-link {
  display: block;
  font-size: rem(14px);
  line-height: rem(14px);
  margin-bottom: 20px;
  margin-top: -10px;

  @include breakpoint($bp-medium) {
    margin-bottom: 0;
    margin-top: 0;
    position: absolute;
    right: 0;
    top: 20px;
  }
}

.comment__join-title {
  margin-bottom: 0;
}

// Comment form.
.comment-form {

  // "Your name".
  #edit-author--2 {
    display: none;
  }

  // Comment.
  .form-item-comment-body-0-value {
    label {
      display: none;
    }
  }

  // Comment textarea.
  .form-textarea {
    max-width: none;
    width: 100%;
  }

  // Input format.
  .filter-wrapper {
    display: none;
  }

  // Comment.
  #comment-body-add-more-wrapper {
    margin-bottom: 10px;
  }

  // Submit button.
  .form-actions {
    .form-submit {
      font-size: rem(16px);
      line-height: rem(45px);
      padding: 0 15px;
    }
  }
}

// Reply to comment form page.
body.page-comment-reply,
body.page-comment-edit {
  .comment,
  .comment-form {
    @include container;
  }

  .comment {
    margin-top: 40px;
  }

  .comment-form {
    margin-bottom: 40px;
  }
}

#comment-confirm-delete {
  @include container;
  margin-bottom: 40px;

  .form-actions {
    margin-top: 40px;
  }
}
