// =============================================================================
// INTRO
// =============================================================================

.intro {
  background: #eef0f3;
  margin-bottom: 125px;
  padding-bottom: 250px;
  padding-top: 250px;
  position: relative;

  // Links.
  a,
  a:visited {

    // Underline.
    &:after {
      bottom: 3px;
    }
  }
}

// Name.
.intro__name {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  text-shadow: 0 1px 2px $white;
  z-index: 1;

  // Highlight.
  &:after {
    animation: highlight .5s ease forwards;
    animation-delay: 1s;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    transform: rotate(-1.5deg);
    width: 100%;
    z-index: -1;
  }
}

// Navigation.
.intro__nav-menu {
  font-family: $sans-pro;
  font-size: rem(24px);
  font-weight: 600;
  list-style: none;
  margin: 0;
  padding: 0;
}

// Navigation item.
.intro__nav-item {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;

  // Siblings.
  + .intro__nav-item {
    margin-left: 40px;
  }
}
