// =============================================================================
// MENU - SECONDARY MENU
// =============================================================================

.menu--secondary-menu {
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  // Menu item.
  .menu-item {
    display: block;
    float: left;
    font-family: $abel;
    font-size: rem(13px);
    letter-spacing: tracking(200);
    line-height: 42px;
    text-transform: uppercase;

    + .menu-item {
      margin-left: 30px;
    }

    // Links.
    a,
    a:visited {
      color: #211e1e;
      display: block;
    }
  }
}
