// =============================================================================
// MENU - MAIN
// =============================================================================

.menu--main {
  @include breakpoint($bp-large-up) {
    @include container;
    margin-bottom: 80px;
    position: relative;
  }

  // Divider.
  &:after {
    @include breakpoint($bp-large-up) {
      background: #858b8b;
      content: "";
      height: 1px;
      margin-top: -19px;
      width: 100%;
    }
  }

  // Menu.
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    @include breakpoint($bp-large-up) {
      display: flex;
      justify-content: center;
    }
  }

  // Menu item.
  .menu-item {
    font-family: $abel;
    font-size: rem(14px);
    letter-spacing: tracking(100);
    margin: 0;
    padding: 0;
    text-transform: uppercase;

    // Links.
    a,
    a:visited {
      color: #211e1e;
      display: block;
      background: $white;
      padding: 10px 22px;
      position: relative;
      text-decoration: none;

      // Dot.
      // &:after {
      //   @include horizontal-center;
      //   background: #211e1e;
      //   border-radius: 100%;
      //   bottom: 3px;
      //   content: "";
      //   display: block;
      //   height: 1px;
      //   position: absolute;
      //   width: 10px;
      //   background: $brand--sage;
      // }

      // Hover and focus.
      &:hover,
      &:focus {
        color: #a7aca6;
        text-decoration: none;
      }
    }

    // Active.
    &.is-active {
      a,
      a:visited {
        color: #a7aca6;
        font-weight: 700;
      }
    }
  }
}

// Nav toggle.
.nav-toggle {
  display: none !important;
}
