// =============================================================================
// PAGER
// =============================================================================

.pager {
  border-top: 2px solid $gray--light;
  margin: 0 0 40px;
  padding: 40px 0 0;
  text-align: center;
}

.pager__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pager__item {
  display: inline-block;
  list-style: none;
  margin: 0 5px;
  padding: 0;
  position: relative;

  // Links.
  a,
  a:visited,
  &.is-active {
    border: 1px solid transparent;
    border-radius: 74px;
    color: #9b9b9b;
    display: inline-block;
    height: 37px;
    line-height: 37px;
    text-decoration: none;
    transition: border-color .3s ease;
    width: 37px;

    // Hover and focus.
    &:hover,
    &:focus {
      border-color: $brand--sage;
      text-decoration: none;
    }
  }

  // Current.
  &.is-active {
    background-color: $brand--sage;

    // Links.
    a,
    a:visited {
      color: $white;

      // Hover and focus.
      &:hover,
      &:focus {
        border-color: transparent;
      }
    }
  }

  // Loading.
  .ajax-progress {
    background-color: $white;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    // Animated throbber.
    .throbber {
      @include center;
      background-image: url("../images/throbber-active.gif");
      height: 13px;
      width: 15px;
    }
  }
}

// First, previous, next, and last pagers.
.pager__item--first,
.pager__item--previous,
.pager__item--next,
.pager__item--last {

  // Links.
  a,
  a:visited {
    position: relative;
    text-indent: -999em;

    // Arrow.
    &:after {
      @include center;
      margin-left: -2px;
      margin-top: -3px;
      text-indent: 0;
    }
  }
}

// First.
.pager__item--first {

  // Links.
  a,
  a:visited {

    // Arrow.
    &:after {
      content: "\00ab";
    }
  }
}

// Previous.
.pager__item--previous {

  // Links.
  a,
  a:visited {

    // Arrow.
    &:after {
      content: "\2039";
    }
  }
}

// Next.
.pager__item--next {

  // Links.
  a,
  a:visited {

    // Arrow.
    &:after {
      content: "\203A";
      margin-left: 0;
    }
  }
}

// Last.
.pager__item--last {

  // Links.
  a,
  a:visited {

    // Arrow.
    &:after {
      content: "\00bb";
      margin-left: 0;
    }
  }
}
