<ol reversed class="teaser-list__list" style="counter-reset: start-from {{ postslist.length + 1 }}">
{% for post in postslist | reverse %}
  {% set currentPost = post.data.post %}
  <li class="teaser-list__item{% if post.url == url %} teaser-list__item--active{% endif %}">
    <span class="teaser-list__meta">
      <time class="teaser-list__date" datetime="{{ currentPost.publishedAt }}">{{ currentPost.publishedAt|readableDate }}</time>
    </span>
    <a href="{{ post.url | url }}" class="teaser-list__link remove-underline">{% if currentPost.title %}{{ currentPost.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
  </li>
{% endfor %}
</ol>
