// =============================================================================
// VARIABLES
// =============================================================================

// Colors.
//========================================//

// General.
$black:         #000;
$gray:          #999;
$gray--light:   #f8f8f8;
$white:         #fff;

// Brand.
$brand--sage:   #989f7a;
$blue:          #0097ee;
$cyan:          #17e0e3;
$green:         #09aa40;
$orange:        #ff8000;

// Other.
$text--dark:    #444;

// Page.
//========================================//

// Susy columns.
$susy: (
  "columns": susy-repeat(12),
  "gutters": 30px,
  "spread": "narrow",
  "container-spread": "narrow",
);

// Layout.
$container--width: 1320px;
$gutter: 15px;

// Header.
$header-height--mobile: 60px;
$header-height--desktop: 60px;
