// =============================================================================
// VARIABLES
// =============================================================================

// Colors.
//========================================//

// General.
$black:         #000;
$gray:          #999;
$gray--light:   #f8f8f8;
$white:         #fff;

// Brand.
$orange:        #ff5d52;

// Other.
$text--dark:    #090909;

// Page.
//========================================//

// Layout.
$container--width: 1000px;
$gutter: 15px;

// Header.
$header-height--mobile: 60px;
$header-height--desktop: 60px;
