---
layout: layouts/base.njk
templateClass: article
---
<article role="article">
  <header class="article-header">
    <div class="container">
      <div class="article-header__meta">
        {{ post.publishedAt|readableDate }}
      </div>
      <h1 class="article-header__title">{{ post.title }}</h1>
    </div>
  </header>
  <div class="article-content">
    <div class="container">
      {{ post.body | markdownify | safe }}
    </div>
  </div>
</article>

<section class="teaser-list">
  <div class="container">
    <h2 class="teaser-list__title">Recent Posts</h2>
    {% set postslist = collections.myPosts %}
    {% include "postslist.njk" %}
  </div>
</section>
