---
layout: layouts/base.njk
templateClass: node-weeknotes
---

<article>
  <h1>{{ weeknote.title }}</h1>
  {% if weeknote.work %}
    <h2>Work</h2>
    {{ weeknote.work | markdownify | safe }}
  {% endif %}

  {% if weeknote.personal %}
    <h2>Personal</h2>
    {{ weeknote.personal | markdownify | safe }}
  {% endif %}

  {{ weeknote.body | markdownify | safe }}
</article>
