// =============================================================================
// HELPERS
// =============================================================================

// Clear.
.clear {
  clear: both;
}

// Container.
.container {
  @include container;

  // Nested container.
  .container {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }
}

// Components stacked.
.component {

  // Siblings.
  + .component {
    margin-top: 40px;
  }
}

// Hidden.
.hidden {
  display: none;
}

// Visually hidden;
.visually-hidden {
  @include visually-hidden;
}

// Float left.
.float-left {
  float: left;
  margin-right: 15px;
}

// Float right.
.float-right {
  float: right;
}

// Full width.
.full-width {
  @include full-width;
}

// Text center.
.text-center {
  text-align: center;
}

// Highlight animation.
@keyframes highlight {
  0% {
    width: 0%;
  }
  100% {
    background: #fffbcc;
    width: 100%;
  }
}
