---
layout: layouts/basicpage
tags:
  - myBasicpages
pagination:
  alias: basicpage
  data: basicpages
  size: 1
  addAllPagesToCollections: true
permalink: /{{ basicpage.title | slug }}/index.html
---
