---
layout: layouts/weeknote
tags:
  - myWeeknotes
pagination:
  alias: weeknote
  data: weeknotes
  size: 1
  addAllPagesToCollections: true
permalink: weeknotes/{{ weeknote.slug.current | slug }}/index.html
---
